<!DOCTYPE HTML>

<html>
<head>
    <title>NetQuality</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <noscript><link rel="stylesheet" href="~/Content/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Welcome</a></li>
                    <li><a href="#one">About the team</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>NetQuality</h1>
                <p>
                    We are a company specialized in CenfoCoins and NFT trade.
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Learn more about the team</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper-two style2 spotlights wrapper fade-up">

            <div class="wrapper-two content">
                <img src="~/Content/Images/NETQUALITY-_WHITE.png" class="img-content" alt="foto" data-position="center center" />
                <div class="txt-content inner">
                    <h2>NetQuality</h2>
                    <p>Hello! We are NetQuality. We are software engineering students that loves technology and learn new programing languages.</p>
                    <p>To know more about this fintech you can contact us.</p>
                    <ul class="actions">
                        <li><a href="#three" class="button scrolly active">NetQuality@ucenfotec.ac.cr</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!--<!-- Three -->
        <!--<section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Get in touch</h2>
                <p>
                    We are a bank that is specialized in the CenfoCoin trade, but also we offer other services like API development. We are going to be glad to work with you.
                </p>
                <div class="split style1">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>-->
                                @*<div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                            </div>
                            <ul class="actions">
                                <li><a href="" class="button submit">Submit</a></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3>Email</h3>
                                <a href="#">amelendezs@ucenfotec.ac.cr</a>
                            </li>
                            <li>
                                <h3>Phone</h3>
                                <span>(506) 8445-8026</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>-->

    </div>*@

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; NetQuality. All rights reserved.</li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/browser.min.js"></script>
    <script src="~/Scripts/breakpoints.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>